body{
  background: linear-gradient(#4facfe,#00f2fe);
}
header {
  background-color: #010101;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  align-items: center;
}

nav .logo {
  max-height: 50px;
  margin-right: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  color: whitesmoke;
  padding: 10px 15px;
}

header h1 {
  margin: 0;
  color: whitesmoke;
  margin-right: 530px;
  margin-top: 13px;
}

.main-content {

  display: flex;
  flex-direction: column;
  align-items: center;
 /* Adjust height to account for header */}
  input, button {
    padding: 10px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    border: #010101 2px solid;
    border-radius: 5px;
padding-left: 50;
padding-right: 50px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
  }
  #searchButton{background-color: lightblue;

  }
  #weather {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
  }


/*.main-content input,
.main-content button {
  margin: 10px;
}

#weather {
  margin-top: 20px;
  text-align: center;
}